<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./assets/ico/favicon.ico">

    <title>WayCare</title>

    <!-- CSS Plugins -->
    <link href="assets/plugins/fullpage/jquery.fullpage.min.css" rel="stylesheet">
    <link href="assets/plugins/animate/animate.css" rel="stylesheet">
    <link href="assets/plugins/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/plugins/open-iconic/css/open-iconic-bootstrap.css" rel="stylesheet">

    <!-- CSS Custom -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

</head>

<body>

<!-- PRELOADER
============================== -->
<div class="preloader">
    <img src="assets/img/preloader.gif" alt="Loading..." class="preloader__img">
</div>


<!-- BACKGROUND PATTERN
============================== -->
<div class="bg-pattern"></div>


<!-- BACKSTRETCH CAROUSEL
============================== -->
<div class="backstretch-carousel"></div>


<!-- NAVBAR
============================== -->
<div class="navbar navbar-default navbar__initial navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo-container" href="#welcome">
                <img class="logo-img" src="assets/img/logo_1.png" alt="">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="fullpage__nav nav navbar-nav navbar-right">
                <!--
                <li data-menuanchor="video"><a href="#video">Watch</a></li>
                -->
                <li data-menuanchor="about"><a href="#about">About</a></li>
                <li data-menuanchor="team"><a href="#team">Team</a></li>
                <li data-menuanchor="portfolio"><a href="#portfolio">Company</a></li>
                <li data-menuanchor="technology"><a href="#technology">Technology</a></li>
                <li data-menuanchor="features"><a href="#features">Features</a></li>
                <li data-menuanchor="contact"><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<!-- SIDEBAR
============================== -->

<!-- Sidebar button open -->
<div class="hidden sidebar__btn sidebar__btn_open">
    <span class="sidebar-btn__caption">Menu</span>
    <span class="oi oi-menu sidebar-btn__icon sidebar-btn-icon__unhover " title="Open menu" aria-hidden="true"></span>
    <span class="oi oi-arrow-left sidebar-btn__icon sidebar-btn-icon__hover" title="Open menu"
          aria-hidden="true"></span>
</div>

<!-- Sidebar menu -->
<div class="sidebar__menu sidebar__menu_hidden">

    <!-- Sidebar button close -->
    <div class="sidebar__btn sidebar__btn_close">
        <span class="sidebar-btn__caption">Menu</span>
        <span class="oi oi-menu sidebar-btn__icon sidebar-btn-icon__unhover " title="Close menu"
              aria-hidden="true"></span>
        <span class="oi oi-arrow-right sidebar-btn__icon sidebar-btn-icon__hover" title="Close menu"
              aria-hidden="true"></span>
    </div>

    <!-- Sidebar brand name -->
    <div class="sidebar-menu__brand">Way CARe</div>

    <!-- Sidebar links -->
    <ul class="fullpage__nav sidebar-menu__ul">
        <!--
        <li data-menuanchor="video"><a href="#video">Watch</a></li>
        -->
        <li data-menuanchor="about"><a href="#about">About</a></li>
        <li data-menuanchor="team"><a href="#team">Team</a></li>
        <li data-menuanchor="portfolio"><a href="#portfolio">Company</a></li>
        <li data-menuanchor="technology"><a href="#technology">Technology</a></li>
        <li data-menuanchor="features"><a href="#features">Features</a></li>
        <li data-menuanchor="contact"><a href="#contact">Contact Us</a></li>
    </ul>

</div> <!-- / .sidebar-menu__ul -->


<!-- FULLPAGE.JS CONTAINER
============================== -->
<div id="fullpage">

    <!-- WELCOME SCREEN
    ============================== -->
    <div class="site-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Pre heading -->
                    <p class="heading__pre"></p>

                    <!-- Heading -->
                    <h1 class="heading heading_lg">
                        Predictive Insights for <span class="text-primary">Smart Cities</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        A safer way forward
                    </p>

                    <!-- Button -->
                    <div class="text-center">

                        <a href="#about" class="btn btn-xl btn-primary">
                            <span class="oi oi-arrow-right" title="Find out more" aria-hidden="true"></span>
                            <span>Find Out More</span>
                        </a>
                        <a href="#contact" class="btn btn-xl btn-danger">
                            <span>Schedule a demo</span>
                        </a>

                    </div>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->

    <!-- VIDEO SCREEN (NutShell
    ============================== -->
    <!--
    <div class="site-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vOyzOHv90ZY"
                                allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->

    <!-- ABOUT SCREEN
    ============================== -->
    <div class="site-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        HOW <span class="text-primary">WAYCARE</span> MAKES AN <span class="text-primary">IMPACT</span>
                    </h1>
                    <!-- Sub heading -->
                    <p class="heading__sub">
                        WayCare's deep learning technologies provide municipalities with forward looking and actionable
                        insights
                    </p>

                </div>
                <div class="col-sm-4">

                    <!-- About item #1 -->
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <span class="about-item-title__icon oi oi-audio" title="Fully responsive"
                                  aria-hidden="true"></span> Crashes Prediction
                        </h3>
                        <p class="about-item__content">
                            WayCare's proprietary, machine learning platform predicts traffic crashes and related
                            congestion before they occur
                        </p>
                    </div> <!-- / .about__item -->

                </div>
                <div class="col-sm-4">

                    <!-- About item #2 -->
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <span class="about-item-title__icon oi oi-bar-chart" title="Built with LESS"
                                  aria-hidden="true"></span> Decision Support System
                        </h3>
                        <p class="about-item__content">
                            With an integrated decision support solution, authorities are able to select the optimal
                            preventative course of action
                        </p>
                    </div> <!-- / .about__item -->

                </div>
                <div class="col-sm-4">

                    <!-- About item #3 -->
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <span class="about-item-title__icon oi oi-check" title="Functional contact form"
                                  aria-hidden="true"></span> SaaS Based Solution
                        </h3>
                        <p class="about-item__content">
                            WayCare's solution is SaaS based, enabling every city to become a smart city independent of
                            infrastructural investment
                        </p>
                    </div> <!-- / .about__item -->

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->


    <!-- TEAM SCREEN
    ============================== -->
    <div class="site-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        Our <span class="text-primary">Team</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        A team of hard working, enthusiastic professionals helping cities take control of their roads
                    </p>

                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-sm-4">

                    <!-- Team member -->
                    <div class="team__member team__member_chief">

                        <!-- Avatar -->
                        <div class="team-member__avatar">
                            <img class="img-responsive" src="assets/img/team/noam2.jpg" alt="...">
                        </div>

                        <!-- Info -->
                        <h4 class="team-member__name">Noam Maital, CEO</h4>
                        <p class="team-member__info">
                            Noam brings years of experience working with Fortune 500 companies on large scale strategy projects. Noam holds a BSc in economics from Babson College and served in a special forces unit at the Israeli Defence Force. 
                        </p>

                        <!-- Contact -->
                        <div class="team-member__contact">
                            <a href="https://www.linkedin.com/in/noam-maital-469a9912?authType=NAME_SEARCH&authToken=W716&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A44494929%2CauthType%3ANAME_SEARCH%2Cidx%3A1-2-2%2CtarId%3A1483109085373%2Ctas%3Anoam"
                               target="_blank" class="team-member-contact__item facebook">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>

                    </div> <!-- / .team__member -->

                </div>
                <div class="col-sm-4">

                    <!-- Team member -->
                    <div class="team__member team__member_chief">

                        <!-- Avatar -->
                        <div class="team-member__avatar">
                            <img class="img-responsive" src="assets/img/team/idan1.png" alt="...">
                        </div>

                        <!-- Info -->
                        <h4 class="team-member__name">Idan Hahn, CTO</h4>
                        <p class="team-member__info">
                            Idan has over 10 years of experience with global tech companies, including Intel and Amazon. Idan holds a BSc in electrical engineering from the Technion and is the lead technologist of the company.
                        </p>

                        <!-- Contact -->
                        <div class="team-member__contact">
                            <a href="https://www.linkedin.com/in/idan-hahn-05772726?authType=NAME_SEARCH&authToken=KKha&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A91374979%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1483109151425%2Ctas%3Aidan"
                               target="_blank" class="team-member-contact__item facebook">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>

                    </div> <!-- / .team__member -->

                </div>
                <div class="col-sm-4">

                    <!-- Team member -->
                    <div class="team__member team__member_chief">

                        <!-- Avatar -->
                        <div class="team-member__avatar">
                            <img class="img-responsive" src="assets/img/team/shai1.png" alt="...">
                        </div>

                        <!-- Info -->
                        <h4 class="team-member__name">Shai Suzan, COO</h4>
                        <p class="team-member__info">
                            Shai led international R&D activities at Zoran, CSR & Qualcomm managing automotive semiconductors projects. Shai hold a BSC  in electrical engineering from the Technion and is responsible for product development and operations.

                        </p>

                        <!-- Contact -->
                        <div class="team-member__contact">
                            <a href="https://www.linkedin.com/in/shai-suzan-a5ab0144?authType=NAME_SEARCH&authToken=1K8k&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A158011558%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1483109209895%2Ctas%3Asha"
                               target="_blank" class="team-member-contact__item facebook">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>

                    </div> <!-- / .team__member -->

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->

    <!-- PORTFOLIO SCREEN
    ============================== -->
    <div class="site-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        <span class="text-primary">WayCare</span> is transforming the mobility EcoSystem
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        Some of our journey.
                    </p>

                </div>
                <div class="col-xs-12">

                    <!-- Portfolio navigation -->
                    <div class="portfolio__nav">
                        <!-- ALL
                        <a href="#" class="btn btn-lg btn-primary" data-filter="*">
                            <span class="oi oi-random" title="All" aria-hidden="true"></span>
                            <span>All</span>
                        </a>
                        -->
                        <!-- First 6 -->
                        <!-- ALL
                      <a href="#" class="btn btn-lg btn-primary" data-filter="filter_first">
                          <span class="oi oi-random" title="All" aria-hidden="true"></span>
                          <span>All</span>
                      </a>
                      -->

                        <!-- PLATFORM -->
                        <a href="#" class="btn btn-lg btn-primary" data-filter=".filter_platform">
                            <span class="oi oi-random" title="Platform" aria-hidden="true"></span>
                            <span>Platform</span>
                        </a>
                        <!-- BOARD -->
                        <a href="#" class="btn btn-lg btn-primary" data-filter=".filter_board">
                            <span class="oi oi-random" title="Board" aria-hidden="true"></span>
                            <span>Board</span>
                        </a>
                        <!-- PILOTS -->
                        <a href="#" class="btn btn-lg btn-primary" data-filter=".filter_pilots">
                            <span class="oi oi-random" title="Pilots" aria-hidden="true"></span>
                            <span>Pilots</span>
                        </a>
                        <!-- PRESS -->
                        <a href="#" class="btn btn-lg btn-primary" data-filter=".filter_press">
                            <span class="oi oi-random" title="Press" aria-hidden="true"></span>
                            <span>Press</span>
                        </a>
                        <!-- PARTNERSHIP -->
                        <a href="#" class="btn btn-lg btn-primary" data-filter=".filter_partner">
                            <span class="oi oi-random" title="Partnerships" aria-hidden="true"></span>
                            <span>Partnerships</span>
                        </a>
                    </div> <!-- / .portfolio__nav -->

                </div>
            </div> <!-- / .row -->

            <!-- Portfolio items -->
            <div class="portfolio__items">

                <div class="row">

                    <!-- Portfolio - Platform - NJ -->
                    <div class="col-sm-4 filter__item filter_platform filter_first">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/platform/nj_full.jpg" data-lightbox="portfolio-item__body"
                               data-title="WayCare Platform - NJ">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/platform/nj.jpg" alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">WayCare
                                                Platform</h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                WayCare Platform Version 1.0 Over New Jersey Highways
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->
                            </a>
                        </div> <!-- / .portfolio__item -->
                    </div>

                    <!-- Portfolio - Platform - Las-Vegas -->
                    <div class="col-sm-4 filter__item filter_platform filter_first">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/platform/LV_Platform_450.png"
                               data-lightbox="portfolio-item__body"
                               data-title="WayCare Platform - Las-Vegas, Nevada">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/platform/LV_Platform_450.png"
                                     alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">WayCare
                                                Platform</h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                WayCare platform for Las-Vegas, Nevada
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->
                            </a>
                        </div> <!-- / .portfolio__item -->
                    </div>


                    <!-- Portfolio - Platform - Fort-Lauderdale -->
                    <div class="col-sm-4 filter__item filter_platform filter_first">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/platform/FLL_Platform.png"
                               data-lightbox="portfolio-item__body"
                               data-title="WayCare Platform - Fort-Lauderdale, Florida">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/platform/FLL_Platform_cut.png"
                                     alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">WayCare
                                                Platform</h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                WayCare platform for Fort-Lauderdale, Florida
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->
                            </a>
                        </div> <!-- / .portfolio__item -->
                    </div>


                    <!-- Portfolio - Platform - Fort-Lauderdale -->
                    <div class="col-sm-4 filter__item filter_platform filter_first">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/platform/Live_events.png" data-lightbox="portfolio-item__body"
                               data-title="WayCare Platform considers live events for the effect they have on road risk level">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/platform/Live_events_cut.png"
                                     alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">WayCare
                                                Platform</h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                WayCare Platform considers the impacts of live events on the likelihood
                                                of traffic crashes
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->
                            </a>
                        </div> <!-- / .portfolio__item -->
                    </div>


                    <!-- Portfolio - Pilots - FLL -->
                    <div class="col-sm-4 filter__item filter_pilots ">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/pilots/Fort_Lauderdale_750.jpg"
                               data-lightbox="portfolio-item__body"
                               data-title="Upcoming Pilot project - City of Fort Lauderdale, Florida">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/pilots/Fort_Lauderdale_750.jpg"
                                     alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                Upcoming Pilot Program
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                City of Fort Lauderdale, Florida
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>

                    <!-- Portfolio - Board - Modi -->
                    <div class="col-sm-4 filter__item filter_board ">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/advisors/modi_1.jpg" data-lightbox="portfolio-item__body"
                               data-title="Advisory Board Member - Mr Mordechai Doani-Bahiri">

                                <!-- Image -->
                                <img class="img-responsive center-img" src="assets/img/portfolio/advisors/modi_1.jpg"
                                     alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">Mr Mordechai
                                                Doani-Bahiri</h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                Former director of Israel Road Safety Authority
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>

                    <!-- Portfolio - Partners - Technion -->
                    <div class="col-sm-4 filter__item filter_partner filter_first">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/partners/Technion_Logo_700.jpg"
                               data-lightbox="portfolio-item__body"
                               data-title="Partners of - Technion, Israel Institute Of Technology">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/partners/Technion_Logo_700.jpg"
                                     alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                Partner With:
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                Technion, Israel Institute Of Technology
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>

                    <!-- Portfolio - Pilots - LV -->
                    <div class="col-sm-4 filter__item filter_pilots filter_first">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/pilots/Las_Vegas_Logo_500.jpg"
                               data-lightbox="portfolio-item__body"
                               data-title="Upcoming Pilot project - City of Las Vegas, Nevada">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/pilots/Las_Vegas_Logo_500.jpg"
                                     alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                Upcoming Pilot Program
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                City of Las Vegas, Nevada
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>

                    <!-- Portfolio - Partners - ecomotion -->
                    <div class="col-sm-4 filter__item filter_partner">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/partners/ecomotion.jpg" data-lightbox="portfolio-item__body"
                               data-title="Partners of - EcoMotion Israel ">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/partners/ecomotion.jpg" alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                WayCare Partners
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                EcoMotion, Smart Transportation Community
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>

                

                    <!-- Portfolio - Board - Avi -->
                    <div class="col-sm-4 filter__item filter_board">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/advisors/avi.jpg" data-lightbox="portfolio-item__body"
                               data-title="Advisory Board Member - Mr Avi Rozenberg">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/advisors/avi.jpg" alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                Mr. Avi Rozenberg
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                Chief BD at C-B4 Ltd
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>

                    <!-- Portfolio - Board - Chris -->
                    <div class="col-sm-4 filter__item filter_board">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/advisors/chris.jpg" data-lightbox="portfolio-item__body"
                               data-title="Advisory Board Member - Mr Christopher Barker">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/advisors/chris.jpg" alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                Mr. Christopher Barker
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                Connected Car/Transportation/Urban Mobility Consultant
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>

                
                    <!-- Portfolio - Partners - Fuel choices Initiative -->
                    <div class="col-sm-4 filter__item filter_partner">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/partners/Fuel_Choices_logo_500.jpg"
                               data-lightbox="portfolio-item__body"
                               data-title="Partners of - Fuel Choices Initiative">

                                <!-- Image -->
                                <img class="img-responsive"
                                     src="assets/img/portfolio/partners/Fuel_Choices_logo_500.jpg" alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                WayCare Partners
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                Fuel Choices Initiative, Israel's national program for fuel alternatives
                                                and smart mobility
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>

                    <!-- Portfolio - Partners - Otonomo -->
                    <div class="col-sm-4 filter__item filter_partner">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/partners/Otonomo_450.png"
                               data-lightbox="portfolio-item__body"
                               data-title="Partners of - Otonomo Technologies">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/partners/Otonomo_450.png"
                                     alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                WayCare Partners
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                Otonomo Technologies
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->
                            </a>
                        </div> <!-- / .portfolio__item -->
                    </div>

                    <!-- Portfolio - Pilots - TAMPA -->
                    <div class="col-sm-4 filter__item filter_pilots">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/pilots/Tampa_logo_900.jpg"
                               data-lightbox="portfolio-item__body"
                               data-title="Upcoming Pilot project - City of Tampa, Florida">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/pilots/Tampa_logo_900.jpg"
                                     alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                Upcoming Pilot Program
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                City of Tampa, Florida
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>


                    <!-- Portfolio - Partners - ITS -->
                    <div class="col-sm-4 filter__item filter_partner">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/partners/its.jpg" data-lightbox="portfolio-item__body"
                               data-title="Partners of - I.T.S Israel">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/partners/its.jpg" alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                WayCare Partners
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                Intelligent Transportation Systems, Israel
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>

                    <!-- Portfolio - Press - ecomotion -->
                    <div class="col-sm-4 filter__item filter_press">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/press/ecomotion.jpg" data-lightbox="portfolio-item__body"
                               data-title="Presenting in Ecomotion 4th annual conference">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/press/ecomotion.jpg" alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                WayCare presenting
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                in EcoMotion 4th annual exhibition
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>


                    <!-- Portfolio - Press - Duetche Bahn -->
                    <div class="col-sm-4 filter__item filter_press">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/press/DB.jpg" data-lightbox="portfolio-item__body"
                               data-title="Showcasing in Deutsche Bahn future mobility camp, Berlin">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/press/DB.jpg" alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                WayCare showcasing
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                in Deutsche Bahn future mobility camp, Berlin 2016
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>


                    <!-- Portfolio - Press - UK Israel TexChange -->
                    <div class="col-sm-4 filter__item filter_press">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/press/UK_Israel.jpg" data-lightbox="portfolio-item__body"
                               data-title="WayCare selected as one of top 15 startups by UK Israel Tech-Hub">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/press/UK_Israel.jpg" alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                WayCare selected as one
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                of top 15 stratups by UK Israel Tech-Hub
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>


                    <!-- Portfolio - Press - Fuel Choices Summit -->
                    <div class="col-sm-4 filter__item filter_press">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/press/Fuel_Choices_logo_500.jpg"
                               data-lightbox="portfolio-item__body"
                               data-title="WayCare showcasing in fuel choices summit 2016">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/press/Fuel_Choices_logo_500.jpg"
                                     alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                WayCare showcasing in
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                fuel choices summit 2016
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>

                    <!-- Portfolio - Press - capsula -->
                    <div class="col-sm-4 filter__item filter_press">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/press/capsula.png" data-lightbox="portfolio-item__body"
                               data-title="WayCare selected as top 5 smart transportation startups by Capsula, Smart transportation accelerator @TAU">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/press/capsula.png" alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                WayCare selected as top 5 smart transportation
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                startups by Capsula, Smart transportation accelerator @TAU
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>


                    <!-- Portfolio - Press - the marker -->
                    <div class="col-sm-4 filter__item filter_press">

                        <div class="portfolio__item">
                            <a href="assets/img/portfolio/press/the_marker.jpg" data-lightbox="portfolio-item__body"
                               data-title="WayCare selected to participate in TeXchange Mobility 2016 leading mobility startups delegation">

                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/portfolio/press/the_marker.jpg" alt="...">

                                <!-- Mask -->
                                <div class="portfolio-item__mask">
                                    <div class="portfolio-item-mask__wrapper">
                                        <div class="portfolio-item-mask-wrapper__inner">
                                            <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="portfolio-item-mask__title animated fadeInUp">
                                                WayCare selected to participate in
                                            </h4>
                                            <p class="portfolio-item-mask__content animated fadeInDown">
                                                TeXchange Mobility 2016 leading mobility startups delegation
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->

                            </a>
                        </div> <!-- / .portfolio__item -->

                    </div>


                </div> <!-- / .row -->


            </div> <!-- / .portfolio__items -->

        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->


    <!-- Technolegy SCREEN
    ============================== -->
    <div class="site-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        Harnessing <span class="text-primary">Deep Learning</span> for safer roads
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        Artificial Neural Networks and Deep learning algorithms for smart cities
                    </p>

                </div>
            </div> <!-- / .row -->

            <!-- technology items -->
            <div class="technology__items">
                <div class="row">

                    <div class="col-sm-6">

                        <div class="technology__item">
                            <div class="technology-img">
                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/tech/tech1.png" alt="...">

                                <!-- Mask -->
                                <div class="technology-item__mask">
                                    <div class="technology-item-mask__wrapper">
                                        <div class="technology-item-mask-wrapper__inner">
                                            <span class="technology-item-mask__icon oi oi-beaker" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="technology-item-mask__title animated fadeInUp"
                                                style="cursor: text">
                                                Artificial Neural Networks
                                            </h4>
                                            <p class="technology-item-mask__content animated fadeInDown"
                                               style="cursor: text">
                                                WayCare's solution uses advanced Recurrent Neural Network & Genetic
                                                Algorithms to quickly and efficiently uncover complex
                                                multi-dimensional patterns that lead to a dangerous road environment
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->
                            </div>
                        </div> <!-- / .portfolio__item -->

                    </div>


                    <div class="col-sm-6">

                        <div class="technology__item">
                            <div class="technology-img">
                                <!-- Image -->
                                <img class="img-responsive" src="assets/img/tech/tech2.png" alt="...">

                                <!-- Mask -->
                                <div class="technology-item__mask">
                                    <div class="technology-item-mask__wrapper">
                                        <div class="technology-item-mask-wrapper__inner">
                                            <span class="technology-item-mask__icon oi oi-aperture" title="..."
                                                  aria-hidden="true"></span>
                                            <h4 class="technology-item-mask__title animated fadeInUp"
                                                style="cursor: text">
                                                Deep Learning & Advance Heuristic Algorithms
                                            </h4>
                                            <p class="technology-item-mask__content animated fadeInDown"
                                               style="cursor: text">
                                                WayCare identifies root causes for traffic crashes out of countless
                                                different variables and monitors the effectiveness of selected preventative
                                                courses of action
                                            </p>
                                        </div> <!-- / .portfolio-item-mask-wrapper__inner -->
                                    </div> <!-- / .portfolio-item-mask__wrapper -->
                                </div> <!-- / .portfolio-item__mask -->
                            </div>
                        </div> <!-- / .portfolio__item -->

                    </div>


                </div><!-- / .row -->

            </div> <!-- / .technology__items -->

        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->


    <!-- FEATURES SCREEN
    ============================== -->
    <div class="site-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        <span class="text-primary">FEATURES</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        Cost effective SaaS platform to predict and prevent traffic crashes
                    </p>

                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="ft-1 col-sm-6 col-md-5 col-md-offset-1">

                    <!-- Features item -->
                    <div class="features__item">

                        <!-- Title -->
                        <h3 class="features-item__title">
                            <span class="text-primary">01.</span>
                            Crashes Prediction
                        </h3>

                        <!-- Summary -->
                        <div class="features-item__summary">
                            Predict traffic crashes and related congestion before they occur. WayCare's platform
                            predicts over 70% of traffic crashes two hours before they occur.
                        </div>
                    </div> <!-- / .features__item -->

                </div>
                <div class="ft-2 col-sm-6 col-md-5">

                    <!-- Features item -->
                    <div class="features__item">

                        <!-- Title -->
                        <h3 class="features-item__title">
                            <span class="text-primary">02.</span>
                            Crash Forecast
                        </h3>

                        <!-- Summary -->
                        <div class="features-item__summary">
                            Alert of dangerous roads that are forming up to 24 hour ahead of time.
                        </div>
                    </div> <!-- / .features__item -->

                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-sm-6 col-md-5 col-md-offset-1">

                    <!-- Features item -->
                    <div class="features__item">

                        <!-- Title -->
                        <h3 class="features-item__title">
                            <span class="text-primary">03.</span>
                            Decision Support KPIs
                        </h3>

                        <!-- Summary -->
                        <div class="features-item__summary">
                            Monitor effectiveness of selected preventative course of action - recommend new techniques
                            (and technologies) for further reduction in traffic crashes and related fatalities.
                        </div>
                    </div> <!-- / .features__item -->

                </div>
                <div class="col-sm-6 col-md-5">

                    <!-- Features item -->
                    <div class="features__item">

                        <!-- Title -->
                        <h3 class="features-item__title">
                            <span class="text-primary">04.</span>
                            Data Integration
                        </h3>

                        <!-- Summary -->
                        <div class="features-item__summary">
                            WayCare integrates data from vehicles and city operations including traffic management
                            center, police, EMT, fire department and more, providing cities with an unprecedented level
                            of real-time data.
                        </div>
                    </div> <!-- / .features__item -->

                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-sm-6 col-md-5 col-md-offset-1">

                    <!-- Features item -->
                    <div class="features__item">

                        <!-- Title -->
                        <h3 class="features-item__title">
                            <span class="text-primary">05.</span>
                            Unique SaaS Solution
                        </h3>

                        <!-- Summary -->
                        <div class="features-item__summary">
                            WayCare’s SaaS business model allows municipalities to become smart cities without requiring costly infrastructural investment.
                        </div>
                    </div> <!-- / .features__item -->

                </div>
                <div class="col-sm-6 col-md-5">

                    <!-- Features item -->
                    <div class="features__item">

                        <!-- Title -->
                        <h3 class="features-item__title">
                            <span class="text-primary">06.</span>
                            Cost-Effective
                        </h3>

                        <!-- Summary -->
                        <div class="features-item__summary">
                            Reduce traffic fatalities and related congestion saving the city millions of dollars related
                            to police enforcement, E-M services, municipal insurance expenses and lost productivity
                        </div>
                    </div> <!-- / .features__item -->

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->


    <!-- CONTACT SCREEN
    ============================== -->
    <div class="site-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        Let's make your city <span class="text-primary">safer</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        For working demo please contact us
                    </p>

                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-sm-6 col-md-5 col-md-offset-1">

                    <!-- Contact info -->
                    <h3 class="contact-info__title">
                        support<span class="text-primary">@waycaretech.com</span>
                    </h3>
                    <h3 class="contact-info__title">
                        US: (1) 617-943-4343 <br>
                        IL: (972) 58-755-7109
                    </h3>
                    <p></p>

                    <!-- Social links -->
                    <div class="contact-info__social">
                        <a href="https://www.linkedin.com/company/waycare" target="_blank"
                           class="contact-info-social__item facebook">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">

                    <!-- Alert message -->
                    <div class="alert contact-form__alert" id="form_message" role="alert"></div>

                    <!-- Contact form -->
                    <!-- Please carefully read the README.txt file
                     in order to setup the PHP contact form properly -->
                    <form class="contact__form" id="form_sendemail">
                        <div class="row form-group">
                            <div class="col-xs-6">
                                <label for="email" class="sr-only">Your email address</label>
                                <input type="email" name="email" class="form-control" id="email"
                                       placeholder="E-mail">
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-6">
                                <label for="name" class="sr-only">Your name</label>
                                <input type="text" name="name" class="form-control" id="name"
                                       placeholder="Full Name">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message" class="sr-only">Your message</label>
                            <textarea name="message" class="form-control" rows="3" id="message"
                                      placeholder="Message"></textarea>
                            <span class="help-block"></span>
                        </div>

                        <!-- reCAPTCHA -->
                        <div class="form-group" id="form-captcha">

                            <div class="g-recaptcha" data-sitekey="6LevLRAUAAAAAJrFLb_1LLGtP9k3qBAbQoLPU85A"></div>
                            <span class="help-block"></span>
                        </div>
                        <!-- /reCAPTCHA -->

                        <button type="submit" class="btn btn-lg btn-primary">
                            <span class="oi oi-arrow-right" title="Send it" aria-hidden="true"></span>
                            <span>Send it</span>
                        </button>

                    </form>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->

</div> <!-- / #fullpage -->

<!-- JavaScript
================================================== -->


<!-- JS Global -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

<!-- JS Plugins -->
<script src="assets/plugins/scrolloverflow/scrolloverflow.min.js"></script>
<script src="assets/plugins/fullpage/jquery.fullpage.min.js"></script>
<script src="assets/plugins/backstretch/jquery.backstretch.min.js"></script>
<script src="assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
<script src="assets/plugins/lightbox/js/lightbox.min.js"></script>
<script src="assets/plugins/contact/contact.js"></script>
<script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>


<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-91012684-1', 'auto');
    ga('send', 'pageview');

</script>


<!-- JS Custom -->
<script src="assets/js/custom.js"></script>


</body>
</html>