<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>WayCare</title>
    <!-- Bootstrap Core CSS -->
    <link href="old/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="old/public/libs/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="old/public/css/agency.css" rel="stylesheet">
    <link href="old/public/css/custom-style.css" rel="stylesheet">
    <!--
    <link href="css/business-casual.css" rel="stylesheet">
-->
    <!-- Custom Fonts -->
    <link href="old/public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index" ng-app="waycare">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img class="logo-header"
                                                                      src="old/public/img/logos/logoBasicNoBGThin.png"></img>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Goal</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Product</a>
                </li>
                <li>
                    <a class="page-scroll" href="#news">News</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Watching ahead to clear your way!</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>
<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Goal</h2>
            </div>
        </div>

        <h3 class="about-us text-center"><strong class="waycare">way-CARe</strong> is a <strong class="big-data">Big
            Data & Machine Learning</strong>&nbsp solution for smart cities
            <br>which forecasts road hazards, reduces congestion and saves lives</h3>

        <hr>
        <h3 class="item-intro text-center text-muted">way-CARe benefits:</h3>
        <div class="text-center goal">
            <span class="current-detail">
                <ul class="current-detail-list">
                
                <li>
                    <h4>
						<img src="old/public/img/goal/Congestion.png" class="img-circle" alt="">
						<strong class="reduce-congestion">reduce congestion</strong>
                    </h4>
                </li>
                <li>
                    <h4>
                        <img src="old/public/img/goal/Fatalities.png" class="img-circle" alt="">
						<strong class="reduce-fatalities">reduce fatalities</strong>
                    </h4>
                </li>
                <li>
                    <h4>
						<img src="old/public/img/goal/Accidents.png" class="img-circle" alt="">
                        <strong class="reduce-accidents">reduce road accidents</strong><br>
                    </h4>
                </li>
            </ul>
            </span>
        </div>
        <!--
            <div class="row text-center">
                <div class="box">
                    <div class="col-lg-12 text-center">
                        <div ng-controller="CarouselCtrl">
                            <p>carousel here.. {{ title }} </p>
                            <div style="height: 305px" class="carousel">
                                <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                                    <uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
                                        <img ng-src="{{slide.image}}" class="carousel-img">
                                        <div class="carousel-caption">
                                            <h4>Slide {{slide.id}}</h4>
                                            <p>{{slide.text}}</p>
                                        </div>
                                    </uib-slide>
                                </uib-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
    </div>
</section>
<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Product</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom: 25px;"><strong
                        class="waycare">Mobili-C </strong>- Reliable solution for <strong class="smart-cities">Smart
                    Cities</strong></h3>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="old/public/img/product/product-current1.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Forecast</h4>
                    <p class="text-muted">Gain insights for future congestion and accidents in your city</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="old/public/img/product/React.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>React</h4>
                    <p class="text-muted">Take back control<br>of your roads</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="old/public/img/product/Monitor.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Monitor</h4>
                    <p class="text-muted">Know your city’s mobility like never before</p>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
</section>

<!-- News Grid Section -->
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 news-item">
                <a href="#newsModal1" class="news-link" data-toggle="modal">
                    <div class="news-hover">
                        <div class="news-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="old/public/img/news/britishEmbassylogo.jpg" class="img-circle img-responsive" alt="">
                </a>
                <div class="news-caption">
                    <h4>April 2016</h4>
                    <p class="text-muted">Way-CARe one of 15 top transportation startups by TeXChange Mobility</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 news-item">
                <a href="#newsModal2" class="news-link" data-toggle="modal">
                    <div class="news-hover">
                        <div class="news-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="old/public/img/news/protoype_picture.jpeg" class="img-circle img-responsive" alt="">
                </a>
                <div class="news-caption">
                    <h4>April 2016</h4>
                    <p class="text-muted">Way-CARe demonstration during TeXchange meet-up with UK mobility industry
                        leaders, gaining a lot of interest</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 news-item">
                <a href="#newsModal3" class="news-link" data-toggle="modal">
                    <div class="news-hover">
                        <div class="news-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="old/public/img/news/presenting.jpeg" class="img-circle img-responsive" alt="">
                </a>
                <div class="news-caption">
                    <h4>May 2016</h4>
                    <p class="text-muted">Way-CARe presenting during the UK delegation for TeXchange Mobility in
                        London<br><br></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 news-item">
                <a href="#newsModal4" class="news-link" data-toggle="modal">
                    <div class="news-hover">
                        <div class="news-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="old/public/img/news/London.jpg" class="img-circle img-responsive" alt="">
                </a>
                <div class="news-caption">
                    <h4>May 2016</h4>
                    <p class="text-muted">The TeXchange Mobility 2016 delegation in London</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 news-item">
                <a href="#newsModal5" class="news-link" data-toggle="modal">
                    <div class="news-hover">
                        <div class="news-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="old/public/img/news/massChallenge.jpg" class="img-circle img-responsive" alt="">
                </a>
                <div class="news-caption">
                    <h4>May 2016</h4>
                    <p class="text-muted">Way-CARe selected for MassChallenge Israel 2016</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 news-item">
                <a href="#newsModal6" class="news-link" data-toggle="modal">
                    <div class="news-hover">
                        <div class="news-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="old/public/img/news/ecoMotion.jpg" class="img-circle img-responsive" alt="">
                </a>
                <div class="news-caption">
                    <h4>May 2016</h4>
                    <p class="text-muted">Thanks to all the visitors who came to see us at our booth in EcoMotion main
                        event 2016</p>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
</section>
<!-- About Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h3 class="about-us">Located in Tel-Aviv, Israel, <strong class="waycare">way-CARe</strong>'s solution
                    is designed to improve the lives of citizens around the world by reducing congestion, accidents and
                    fatalities.</h3>
                <h3 class="about-us"><strong class="waycare">way-CARe</strong> is allowing every city to become a Smart
                    City using the existing infrastructure and without installing additional expensive hardware.</h3>
                <h3 class="about-us"></h3>
            </div>
        </div>
    </div>
</section>
<!-- Team Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Founding Team</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="old/public/img/team/shai1.png" class="img-responsive img-circle" alt="">
                    <h4>Shai Suzan</h4>
                    <p class="text-muted">Co-Founder</p>

                    <ul style="list-style-type: none;">
                        <li>8 years at- Zoran, CSR, Qualcomm</li>
                        <li>Automotive projects verif. manager</li>
                        <li>BSc. Electrical Eng., MBA</li>
                        <li>Technion</li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="old/public/img/team/idan.jpg" class="img-responsive img-circle" alt="">
                    <h4>Idan Hahn</h4>
                    <p class="text-muted">Co-Founder</p>
                    <ul style="list-style-type: none;">
                        <li>VLSI Engineer at- Intel, Freescale,</li>
                        <li>Annapurna-labs/Amazon</li>
                        <li>BSc. Electrical Eng.</li>
                        <li>Technion</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="old/public/img/team/noam1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Noam Maital</h4>
                    <p class="text-muted">Co-Founder</p>
                    <ul style="list-style-type: none;">
                        <li>Strategy manager at J.Crew and</li>
                        <li>Altman Vilandrie & Co.</li>
                        <li>BSc. Economics and Strategic Management</li>
                        <li>Babson College, MA, U.S.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom: 15px;"><strong class="email"><a
                        href="mailto:contact@waycare-smart-highway.com">contact@waycare-smart-highway.com</a></strong>
                </h3>
                <h3 class="section-heading"><strong>OR:</strong></h3>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name" required
                                       data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email" required
                                       data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required
                                       data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message *" id="message" required
                                          data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span class="copyright"><i class="waycare">2016 &copy waycare technologies ltd.</i></span>
            </div>
            <div class="col-md-6">
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.linkedin.com/company/waycare" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->

                        <img class="img-responsive img-centered current-detail-img"
                             src="old/public/img/product/product-current.png" alt="">
                        <h3 class="about-product-header text-center"><strong class="waycare">Way-CARe </strong>advanced
                            machine learning algorithms forecast congestion and accidents in the upcoming 2 hours</h3>
                        <br>
                        <h3 class="about-product text-left">• Get alerts for upcoming congestion and road accidents up
                            to <u>2 hours before they occur</u>!</h3>
                        <br>
                        <h3 class="about-product text-left">• Forecast non-recurring road events which cause more than
                            25% of all urban congestion</h3>
                        <br>
                        <h3 class="about-product text-left">• Highly accurate prediction</h3>
                        <br>
                        </span>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img class="img-responsive img-centered" src="old/public/img/product/React_large.png" alt="">
                        <h3 class="about-product-header text-center"><strong class="waycare">Way-CARe </strong>Decision
                            Support System Optimizer provides the most effective course of action for handling
                            congestion and accidents</h3>
                        <br>
                        <h3 class="about-product text-left">• Take the most effective actions to prevent traffic
                            accidents based on combined past experience</h3>
                        <br>
                        <h3 class="about-product text-left">• Clear road incidents faster by optimizing city resources
                            to minimize response times</h3>
                        <br>
                        <h3 class="about-product text-left">• Create transit corridors to reduce congestion and
                            accidents</h3>
                        <br>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img class="img-responsive img-centered" src="old/public/img/product/Monitor_large.png" alt="">
                        <h3 class="about-product-header text-center"><strong class="waycare">Way-CARe </strong>generates
                            and presents a full mobility map of the city</h3>
                        <br>
                        <h3 class="about-product text-left">• Visualize every moving object in the city in
                            REAL-TIME</h3>
                        <br>
                        <h3 class="about-product text-left">• Most accurate and least expensive using existing
                            infrastructure</h3>
                        <br>
                        <h3 class="about-product text-left">• All types of moving objects including trucks, motorcycles,
                            bicycles and pedestrians</h3>
                        <br>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News Modals -->
<!-- Use the modals below to showcase details about your news projects! -->
<!-- News Modal 1 -->
<div class="news-modal modal fade" id="newsModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->

                        <img class="img-responsive img-centered current-detail-img"
                             src="old/public/img/news/britishEmbassylogo.jpg" alt="">
                        <h3 class="about-news text-left"><strong class="waycare">way-CARe </strong>one of 15 top
                            transportation startups by TeXChange Mobility</h3>
                        <br>
                        <h3 class="about-news text-left">Read more at
                            <a href="http://www.themarker.com/dynamo/cars/1.2922243" target="_blank">this link</a>
                        </h3>
                        <br>
                        </span>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News Modal 2 -->
<div class="news-modal modal fade" id="newsModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img class="img-responsive img-centered current-detail-img"
                             src="old/public/img/news/protoype_picture_large.jpeg" alt="">
                        <h3 class="about-news text-left"><strong class="waycare">way-CARe </strong>demonstration during
                            TeXchange meet-up with UK mobility industry leaders, gaining a lot of interest</h3>
                        <br>
                        </span>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News Modal 3 -->
<div class="news-modal modal fade" id="newsModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img class="img-responsive img-centered current-detail-img"
                             src="old/public/img/news/presenting_large.jpeg" alt="">
                        <h3 class="about-news text-left"><strong class="waycare">way-CARe </strong>presenting during the
                            UK delegation for TeXchange Mobility in London</h3>
                        <br>
                        </span>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News Modal 4 -->
<div class="news-modal modal fade" id="newsModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img class="img-responsive img-centered current-detail-img"
                             src="old/public/img/news/London_large.jpg" alt="">
                        <h3 class="about-news text-left">The TeXchange Mobility 2016 delegation in London</h3>
                        <br>
                        <h3 class="about-news text-left">Read more at
                            <a href="https://www.facebook.com/ukinisrael/photos/pb.119383311426996.-2207520000.1463035829./1188508474514469/?type=3&theater"
                               target="_blank">this link</a>
                        </h3>
                        <br>
                        </span>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News Modal 5 -->
<div class="news-modal modal fade" id="newsModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img class="img-responsive img-centered current-detail-img"
                             src="old/public/img/news/massChallenge.jpg" alt="">
                        <h3 class="about-news text-left"><strong class="waycare">way-CARe </strong>selected as one of 48
                            finalists for MassChallenge Israel 2016</h3>
                        <br>
                        <h3 class="about-news text-left">Read more at
                            <a href="http://www.globes.co.il/en/article-new-startup-accelerator-to-open-in-jerusalem-1001126428"
                               target="_blank">this link</a>
                        </h3>
                        <br>
                        </span>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News Modal 6 -->
<div class="news-modal modal fade" id="newsModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <img class="img-responsive img-centered current-detail-img"
                             src="old/public/img/news/ecoMotion_large.jpg" alt="">
                        <h3 class="about-news text-left">Thanks to all the visitors who came to see us at our booth in
                            EcoMotion main event 2016</h3>
                        <br>
                        <h3 class="about-news text-left">Read more at
                            <a href="https://www.facebook.com/ecomotionisrael/photos/a.901752443280345.1073741875.232871583501771/902958139826442/?type=3&theater"
                               target="_blank">this link</a>
                        </h3>
                        <br>
                        </span>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="old/public/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="old/public/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="old/public/js/classie.js"></script>
<script src="old/public/js/cbpAnimatedHeader.js"></script>
<!-- Contact Form JavaScript -->
<script src="old/public/js/jqBootstrapValidation.js"></script>
<script src="old/public/js/contact_me.js"></script>
<!-- Custom Theme JavaScript -->
<script src="old/public/js/agency.js"></script>
<!-- angoular -->
<script src="old/public/libs/angular/angular.min.js"></script>
<script src="old/public/libs/angular-route/angular-route.min.js"></script>
<script src="old/public/libs/angular-animate/angular-animate.min.js"></script>
<script src="old/public/libs/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="old/public/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="old/public/js/app.js"></script>
<script src="old/public/js/carousel.js"></script>
</body>

</html>
<!--

                        <div id="carousel-example-generic" class="carousel slide">
                            <ol class="carousel-indicators hidden-xs">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive img-full" src="img/goal/slide-1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive img-full" src="img/slide-2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive img-full" src="img/slide-3.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>

-->
