.logo-header{
	height: auto;
	width: 13%;
}

#useCase .useCase-item {
    margin: 0 0 15px;
    right: 0
}

#useCase .useCase-item .useCase-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}

#useCase .useCase-item .useCase-link .useCase-hover {
    background: rgba(254, 209, 54, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}

#useCase .useCase-item .useCase-link .useCase-hover:hover {
    opacity: 1
}

#useCase .useCase-item .useCase-link .useCase-hover .useCase-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}

#useCase .useCase-item .useCase-link .useCase-hover .useCase-hover-content i {
    margin-top: -12px
}

#useCase .useCase-item .useCase-link .useCase-hover .useCase-hover-content h3,
#useCase .useCase-item .useCase-link .useCase-hover .useCase-hover-content h4 {
    margin: 0
}

#useCase .useCase-item .useCase-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}

#useCase .useCase-item .useCase-caption h4 {
    text-transform: none;
    margin: 0
}

#useCase .useCase-item .useCase-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0
}

#useCase * {
    z-index: 2
}

@media (min-width:767px) {
    #useCase .useCase-item {
        margin: 0 0 30px
    }
}

.carousel{
    margin-left: 15%;
    margin-right: 15%;
}

.carousel-img {
    margin: auto;
}


.image-current-detail{
	position: relative;
	width: 100%;
}

.current-detail{
    position: relative;
}

.current-detail-list{
	list-style-type: none;
}

.current-detail-list > li{
	text-align: left;
	margin: 0;
	padding: 0;
}

.current-detail-list > li > h5{
	color: red;
	text-align: center;
	padding: 0;
}
@media (min-width: 480px) {
	.current-detail-list > li > h5{
		color: red;
		text-align: left;
		margin-left: 42px;
		padding: 0;
	}
}

.current-detail-list > br{
	line-height: 0;
}

.fa-stack-1x {
    color:white;
}

.icon-reduce-0 {
   color:#274585;
}

.icon-reduce-1 {
    color:#2eb294;
}

.icon-reduce-2{
    color:#bd2a19;
}


.product-list{
    list-style-type: none;
	margin-left: auto;
	margin-right: auto
}
.product-list h3{
	font-size: 19px;
}
.product-list > li{
    padding: 0;
    margin-left: 5px
}
@media (min-width: 480px) {
	.product-list {
		width: 500px;
		margin-left: auto;
		margin-right: auto
	}
	.product-list > li{
		padding: 0;
		margin-left: 10%;
	}
	.product-list  h3{
		font-size: 24px;
	}
}

.fa-stack-1x {
    color:white;
}

.icon-product-0 {
   color:#274585;
}

.icon-product-1 {
    color:#2eb294;
}

.icon-product-2{
    color:#bd2a19;
}

.about-us{
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: normal;
}

.about-product-header{
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: normal;
	position: relative;
	margin: 0 auto;
	max-width:600px;
}

.about-product{
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: bold;
	max-width:510px;
	position: relative;
	margin: 0 auto;
	font-size: 145%;
}

.about-news{
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
	max-width: 700px;
	font-weight: normal;
	position: relative;
	margin: 0 auto;
	font-size: 145%;
}

.waycare{
    font-weight: bold;
    color: #000099;
    text-transform: capitalize;
    font-size: 118%;
    font-family: "Roboto Slab", "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.big-data{
    font-weight: bold;
	font-style: italic;
    color: #F64E3F;
    font-size: 110%;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.reduce-congestion{
    color: #C51D1D;
	font-size: 110%;
}
.reduce-fatalities{
    color: #FFA500;
	font-size: 110%;
}
.reduce-accidents{
    color: #71B621;
	font-size: 110%;
}

.smart-cities{
    font-weight: bold;
    color: #990000;
    font-size: 120%;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.goal{
	margin-left: auto;
	margin-right: auto
}
.goal h4{
	font-size: 14px;
}
@media (min-width: 480px) {
  .goal {
    width: 350px;
	margin-left: auto;
	margin-right: auto
  }
  .goal  h4{
	font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .goal {
    width: 450px;
	margin-left: auto;
	margin-right: auto
  }
  .goal  h4{
	font-size: 18px;
  }
}